<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of orders</title>
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <h1>Orders</h1>
    <h3>
        User: <span th:text="${user.name}"></span>
    </h3>


    <table>
        <tr>
            <td>
                <form th:action="@{/users}" method="GET">
                    <input type="hidden" name="_method" value="GET">
                    <button class="btn btn-primary" type="submit"> < Back to main menu</button>
                </form>
            </td>
            <td>
                <form th:action="@{/orders/{user_id}(user_id=${user.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete all orders</button>
                </form>
            </td>
        </tr>
    </table>

    <table style="width:80%" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Alert time</th>
            <th>Sent</th>
            <th>Name</th>
            <th>Secret</th>
            <th>Side</th>
            <th>Symbol</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order: ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.timestamp}"></td>
            <td th:text="${order.timestampSent}"></td>
            <td th:text="${order.name}"></td>
            <td th:text="${order.secret}"></td>
            <td th:text="${order.side}"></td>
            <td th:text="${order.symbol}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
