<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of alerts</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <h1>List of alerts</h1>
    <h3>
        User: <span th:text="${user.name}"></span>
    </h3>
    <h3>
        Strategy: <span th:text="${strategy.name}"></span>
    </h3>
    <table>
        <tr>
            <td>
                <a th:href="@{/alerts/{user_id}/{strategy_id}/new(user_id=${user.id},strategy_id=${strategy.id})}"
                   class="btn btn-success btn-sm mb-3">Add new Alert</a>
            </td>
            <td>
                <a th:href="@{/strategies/{user_id}(user_id=${user.id})}"
                   class="btn btn-primary btn-sm mb-3"> < Back to Strategies</a>
            </td>
        </tr>
    </table>
    <table style="width:80%" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Webhook</th>
            <th>Secret</th>
            <th>Side</th>
            <th>Pause to start (seconds)</th>
            <th>Used to open deals</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="alert: ${alerts}">
            <td th:text="${alert.name}"></td>
            <td th:text="${alert.webhook}"></td>
            <td th:text="${alert.secret}"></td>
            <td th:text="${alert.side}"></td>
            <td th:text="${alert.pause}"></td>
            <td th:text="${alert.opening}"></td>
            <td>
                <form th:action="@{/alerts/updating/{id}(id=${alert.id})}" method="GET">
                    <input type="hidden" name="_method" value="GET">
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
                <form th:action="@{/alerts/{id}(id=${alert.id})}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
