<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Alert Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
</head>
<body>
<div class="container">
    <h1>Add new alert</h1>
    <h3>
        User: <span th:text="${user.name}"></span>
    </h3>
    <h3>
        Strategy: <span th:text="${strategy.name}"></span>
    </h3>
    <form action="#" th:action="@{/alerts}" th:object="${alert}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{userId}"/>
        <input type="hidden" th:field="*{strategyId}"/>

        <div class="form-group mb-3">
            <label class="form-label">Name</label>
            <input
                    class="form-control mb-4 col-4"
                    type="text"
                    th:field="*{name}"
                    required="true"
            >
            <p th:errors="*{name}" class="text-danger"
               th:if="${#fields.hasErrors('name')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Webhook</label>
            <input
                    class="form-control mb-4 col-4"
                    type="text"
                    th:field="*{webhook}"
                    required="true"
            >
            <p th:errors="*{webhook}" class="text-danger"
               th:if="${#fields.hasErrors('webhook')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Secret</label>
            <input
                    class="form-control mb-4 col-4"
                    type="text"
                    th:field="*{secret}"
                    required="true"
            >
            <p th:errors="*{secret}" class="text-danger"
               th:if="${#fields.hasErrors('secret')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Side</label>
            <input
                    class="form-control mb-4 col-4"
                    type="text"
                    th:field="*{side}"
                    required="true"
            >
            <p th:errors="*{side}" class="text-danger"
               th:if="${#fields.hasErrors('side')}"></p>
        </div>

        <div class="form-group mb-3">
            <label class="form-label">Pause to start (seconds)</label>
            <input
                    class="form-control mb-4 col-4"
                    type="number"
                    th:field="*{pause}"
            >
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>

    <a th:href="@{/alerts/{user_id}/{strategy_id}(user_id=${user.id},strategy_id=${strategy.id})}">
        Back to Alert List</a>

</div>
</body>
</html>