<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MrMozart algorithm control panel</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <h3>MrMozart control panel</h3>
    <a th:href="@{/orders}" class="btn btn-primary btn-sm mb-3">Orders</a>
    <a th:href="@{/alerts}" class="btn btn-primary btn-sm mb-3">Alerts</a>
    <a th:href="@{/users}" class="btn btn-primary btn-sm mb-3">Users</a>
</div>
</body>
</html>
