<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Alert Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
</head>
<body>
<div class="container">
    <h1>Add new ticker</h1>
    <h3>
        User: <span th:text="${user.name}"></span>
    </h3>
    <form action="#" th:action="@{/tickers}" th:object="${ticker}" method="POST">
        <input type="hidden" th:field="*{userId}"/></p>

        <div class="form-group mb-3">
            <input type="hidden" th:field="*{id}"/>
            <label class="form-label">Name (without USDT)</label>
            <input
                    class="form-control mb-4 col-4"
                    th:field="*{name}"
                    placeholder="Name"
                    name="name"
                    type="text"
                    required="true"
            />
            <p th:errors = "*{name}" class="text-danger"
               th:if="${#fields.hasErrors('name')}">
            </p>
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>

    <a th:href="@{/tickers/{user_id}(user_id=${user.id})}">Back to Ticker List</a>
</div>
</body>
</html>