<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Ticker updating</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Ticker updating</h2>
    <h3>
        User: <span th:text="${user.name}"></span>
    </h3>
    <h3>
        Strategy: <span th:text="${strategy.name}"></span>
    </h3>
    <h3>
        Ticker: <span th:text="${ticker.name}"></span>
    </h3>
    <form
            method="POST"
            role="form"
            th:action="@{/tickers/profit}"
            th:object="${profit}">

        <input type="hidden" th:field="*{Id}"/>
        <input type="hidden" th:field="*{ticker}"/>
        <input type="hidden" th:field="*{strategyId}"/>

        <div class="form-group mb-3">
            <label class="form-label">Take profit percent</label>
            <input
                    class="form-control mb-4 col-4"
                    th:field="${profit.value}"
                    placeholder="Value"
                    name="value"
                    type="number"
            />
        </div>

        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>

    <hr>
    <a th:href="@{/tickers/profits/{user_id}/{strategy_id}
    (user_id=${user.id},strategy_id=${strategy.id},)}">
        Back to list of Tickers
    </a>
</div>
</body>
</html>
