<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of orders</title>
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        table {
            /*width: 50%;*/
            /*height: 50%;*/
            /*border-spacing: 0;*/
        }
        td {
            /*border: 3px solid black;*/
        }
        separator {
            border: 1px solid black;
            height: 2px;
        }
    </style>
</head>
<body>
<div>
    <h1>Deals</h1>
    <h3>
        Strategy: <span th:text="${strategy.name}"></span>
    </h3>

    <table>
        <tr>
            <td>
                <form th:action="@{/strategies}" method="GET">
                    <input type="hidden" name="_method" value="GET">
                    <button class="btn btn-primary" type="submit"> < Back to strategies</button>
                </form>
            </td>
        </tr>
    </table>

    <table style="width:100%" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Ticker</th>
            <th>Side</th>
            <th>Entry 1</th>
            <th>Entry 2</th>
            <th>Entry 3</th>
            <th>Entry 4</th>
            <th>Entry 5</th>
            <th>TP 1</th>
            <th>TP 2</th>
            <th>TP 3</th>
            <th>TP 4</th>
            <th>TP 5</th>
            <th>Avg price</th>
            <th>Profit price</th>
            <th>Closing price</th>
            <th>Closing alert</th>
            <th>Changed</th>
            <th>Orders</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="deal: ${openedDeals}">
            <td th:text="${deal.id}"></td>
            <td th:text="${deal.ticker}"></td>
            <td th:style="${deal.side} == 'Short'
            ? (${deal.open} ? 'color: #FF6600' : 'color: #000000')
            : (${deal.open} ? 'color: #30D5C8' : 'color: #000000')"
                th:text="${deal.side}"></td>

            <td th:text="${deal.firstPrice}"></td>
            <td th:text="${deal.secondPrice}"></td>
            <td th:text="${deal.thirdPrice}"></td>
            <td th:text="${deal.fourthPrice}"></td>
            <td th:text="${deal.fifthPrice}"></td>

            <td th:text="${deal.takePrice1}"></td>
            <td th:text="${deal.takePrice2}"></td>
            <td th:text="${deal.takePrice3}"></td>
            <td th:text="${deal.takePrice4}"></td>
            <td th:text="${deal.takePrice5}"></td>

            <td th:text="${deal.averagePrice}"></td>
            <td th:text="${deal.profitPrice}"></td>
            <td th:text="${deal.closingPrice}"></td>
            <td th:text="${deal.closingAlert}"></td>
            <td th:text="${#temporals.format(deal.lastChangeTime, 'dd-MM-yyyy HH:mm:ss ')}"></td>
            <td>
                <form th:action="@{/orders/deal/{deal_id}/strategy/{strategy_id}
                (deal_id=${deal.id},
                strategy_id=${strategy.id})}" method="GET">
                    <input type="hidden" name="_method" value="GET">
                    <button class="btn btn-primary" type="submit">Show orders</button>
                </form>
            </td>
            <td>
                <form th:if="${deal.open}" th:action="@{/deals/close/{deal_id}(deal_id=${deal.id})}" method="GET">
                    <input type="hidden" name="_method" value="GET">
                    <button class="btn btn-danger" type="submit">Close</button>
                </form>
            </td>
        </tr>
        </tbody>

        <tr style="max-height: 2px">
            <td style="max-height: 2px"></td>
        </tr>

        <tbody>
        <tr th:each="deal: ${closedDeals}">
            <td th:text="${deal.id}"></td>
            <td th:text="${deal.ticker}"></td>
            <td th:style="${deal.side} == 'Short'
            ? (${deal.open} ? 'color: #30D5C8' : 'color: #000000')
            : (${deal.open} ? 'color: #FF6600' : 'color: #000000')"
                th:text="${deal.side}"></td>

            <td th:text="${deal.firstPrice}"></td>
            <td th:text="${deal.secondPrice}"></td>
            <td th:text="${deal.thirdPrice}"></td>
            <td th:text="${deal.fourthPrice}"></td>
            <td th:text="${deal.fifthPrice}"></td>

            <td th:text="${deal.takePrice1}"></td>
            <td th:text="${deal.takePrice2}"></td>
            <td th:text="${deal.takePrice3}"></td>
            <td th:text="${deal.takePrice4}"></td>
            <td th:text="${deal.takePrice5}"></td>

            <td th:text="${deal.averagePrice}"></td>
            <td th:text="${deal.profitPrice}"></td>
            <td th:text="${deal.closingPrice}"></td>
            <td th:text="${deal.closingAlert}"></td>
            <td th:text="${#temporals.format(deal.lastChangeTime, 'dd-MM-yyyy HH:mm:ss ')}"></td>
            <td>
                <form th:action="@{/orders/deal/{deal_id}/strategy/{strategy_id}
                (deal_id=${deal.id},
                strategy_id=${strategy.id})}" method="GET">
                    <input type="hidden" name="_method" value="GET">
                    <button class="btn btn-primary" type="submit">Show orders</button>
                </form>
            </td>
            <td>
                <form th:if="${deal.open}" th:action="@{/deals/close/{deal_id}(deal_id=${deal.id})}" method="GET">
                    <input type="hidden" name="_method" value="GET">
                    <button class="btn btn-danger" type="submit">Close</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
